body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    margin-bottom: 50px;
}

h4,h5,h6{
    margin-bottom: 20px;
}

h2{
    text-align: left;
    font-weight: 700;
}

p{
    margin-bottom: 20px;
}

img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--logoColor-1);
}

button{
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 7px;
    background-color: var(--logoColor-1);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display: inline;
}

.showInphone{
    display: none;
}

.BgPadding{
    padding-top: 50px;
    padding-bottom: 30px;
}

.sectionMargin{
    margin-bottom: 30px;
}

.container{
    width: 100%;
    max-width: 1800px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--logoColor-1);
    transition: all .5s; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2c66af;
    transition: all .5s;
  }

/* Scroll */

/* for only mobile mobile start */
@media screen and (max-width: 575px) {
    .Mobile50{
        width: 50%;
        margin: auto;
    }
}
/* for mobile end */


/* New Product start */
.ProductDiv{
    padding-left: 12px;
    padding-right: 12px;
}

.ProductCard{
    margin-bottom: 20px;
    box-shadow:  0 0 5px #86551da3;
    border-radius: 9px;
    padding: 10px;
}

.ProductCard .ProductImg{
    height: 225px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductCard .ProductImg img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.ProductCard .ProductText p{
    margin-bottom: 20px;
}

.ProductCard .ProductText .Price{
    font-weight: 700;
}

.ProductCard .ProductText .Discount{
    color: rgb(69, 69, 69);
    font-size: 15px;
    text-decoration: line-through;
}

.ProductCard .ProductText button{
    width: 100%;
    border-radius: 23px !important;
}

.Increment{
    position: relative;
    height: 28px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.PriceAndIncrement{
    margin-bottom: 15px;
}

.PriceAndIncrement p{
    margin-bottom: 10px !important;
}

.Increment .btna{
    top: 0;
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    margin-top: 1px;
    outline: none;
    border-radius: 50%;
    height: 30px;
    cursor: pointer;
}

.Increment input{
    width: 100%;
    font-size: 18px;
    text-align: center;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.Increment .btn1{
    left: 8px;
}

.Increment .btn2{
    right: 8px;
}

.Increment input{
    display: block;
    margin-bottom: 10px;
    height: 15px;
}

.ProductCard{
    position: relative;
}

.loveandShear{
    top: 3px;
    right: 3px;
    position: absolute;
}

.DiscoountDiv{
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #e72650;
}

.loveandShear ul{
   padding: 5px;
   color: white;
   border-radius: 5px;
}

.loveandShear ul i{
  padding: 5px;
  border-radius: 50%;
  background-color: var(--logoColor-1);
}
/* New Product end */


/* responsive start */
@media screen and (max-width: 991px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    h1,h2,h3,
    h4,h5,h6{
        margin-bottom: 25px !important;
    }

    p{
        margin-bottom: 20px;
    }

    .BgPadding{
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .sectionMargin{
        margin-bottom: 5px;
    }
    .herosMargin{
        margin-top: 80px;
    }
}

@media screen and (max-width: 767px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }

    h1,h2,h3,
    h4,h5,h6{
        margin-bottom: 12px !important;
    }

    p{
        margin-bottom: 12px;
    }

    .BgPadding{
        padding-top: 12px;
        padding-bottom: 0px;
    }

    .sectionMargin{
        margin-bottom: 0px;
    }

    footer ul li{
        display: block;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 575px) {
    .ProductDiv {
        padding-left: 7px;
        padding-right: 7px;
    }

    .ProductCard .ProductText p {
        margin-bottom: 7px;
    }

    .PriceAndIncrement {
        margin-bottom: 7px;
    }

    .Increment {
        width: 70%;
    }

    .ProductCard {
        margin-bottom: 15px;
    }
}

/* responsive end */

:root {
    --logoColor-1: #b9772d;
    --logoColor-2: #6a6766;
    --servocehover: #e79855;
    --navColor: rgb(216, 216, 216);
    --navIconColor: red;
    --navmidbg: #75b535;
    --TopNev: #3c516a;
    --DestopCatagori: #3e6a10;
}